.App {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem auto;
  width: 40%;
  padding: 1rem 0; 
  border: 1px solid silver;
  border-radius: 10px;
}

.form-container input {
  width: 60%;
  margin: .3rem auto;
  font-size: 1.1rem;
}

.loader {
  margin: 1rem;
}